footer {
  padding-top: 40px;
  padding-bottom: 30px;
  margin-top: 100px;
  color: #777;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}

.panel > .list-group > .list-group-item > .title {
  font-weight: bold;
  margin-right: 10%;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
}